html {
  background-color: rgb(215, 247, 201);
}
body {
  padding: 10px;
  margin: 80px;
  font-family: Aref Ruqaa;
  color: whitesmoke;
  text-align: center;
}
h1 {
  margin: 10px;
  padding: 100px;
  text-align: center;
  color: whitesmoke;
  font-size: 60px;
  background-image: url(https://images.unsplash.com/photo-1534709866268-d913c9763304?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: inherit;
}

h2 {
  font-size: 45px;
  background-color: rgba(142, 170, 114, 0.2);
  border: dashed whitesmoke;
}
ul {
  list-style: none;
  font-size: 25px;
}

.box-model {
  background-color: black;
  border: 15px double rgb(0, 75, 0);
  padding: 20px;
}

.box2 {
  width: 800px;
  margin: auto;
  text-align: center;
  padding: 100px;
  font-size: 40px;
  font-weight: bold;
  background-image: url(https://images.unsplash.com/photo-1521918436139-113d4398f8aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.color1 {
  color: #74c69d;
  padding: 20px;
  font-size: 30px;
}
.color2 {
  color: #52b788;
  padding: 20px;
  font-size: 30px;
}
.color3 {
  color: #4c956c;
  padding: 20px;
  font-size: 30px;
}
.color4 {
  color: #80ed99;
  padding: 20px;
  font-size: 30px;
}
.color5 {
  color: rgb(89, 139, 84);
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  background-color: rgba(251, 253, 251, 0.1);
}
.width {
  width: 800px;
  height: 450px;
}
